<!DOCTYPE html>
<html data-ng-app='app'>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Pyhton">

    <title>Python</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <link rel="icon" href="static/favicon.png" />
    <link rel="stylesheet" type="text/css" href="static/vendor/css/style.css" />
    <link rel="stylesheet" type="text/css" href="static/vendor/fontawesome/css/font-awesome.css"/>
    <link rel="stylesheet" type="text/css" href="static/vendor/css/toastr.min.css"/>
</head>

<body data-ng-controller="MainController as chat">

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="fa fa-plus fa-2x"></span>
                </button>
                <a class="navbar-brand" href="#">Cheesy P2P</a>
            </div>

            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a data-ng-if="chat.rtc.username == ''" id="username">Anonymous</a>
                        <a data-ng-if="chat.rtc.username != ''" id="username"><% chat.rtc.username %></a>
                    </li>
                    <li class="dropdown" data-ng-init="chat.getRooms()" data-ng-click="chat.getRooms()">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown">Rooms<b class="caret"></b></a>
                        <ul id="roomsMenu" class="dropdown-menu">
                            <li class="column-dropdown" data-ng-repeat="room in chat.rooms">
                              <a data-ng-if="room != 'Lobby'" class="chat.joinRoom" data-room="<% room %>" data-ng-click="chat.joinRoom(room)"><% room %></a>
                            </li>
                        </ul>
                    </li>

                    <li class="dropdown" data-ng-init="chat.getUsers(room)" data-ng-click="chat.getUsers(currentRoom)">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown">Users in room<b class="caret"></b></a>
                        <ul id="usersMenu" class="dropdown-menu">
                            <li class="column-dropdown" data-ng-repeat="user in chat.users[chat.currentRoom]">
                                <a data-ng-if="user != chat.rtc.username"><% user %></a>
                            </li>
                        </ul>
                    </li>

                    <li class="createroom">
                      <div class="recherche" id="search">
                        <input placeholder="Create room" id="createRoom" class="form-control searchbar">
                        <button class="btn btn-default searchbtn fa fa-plus-circle" id="submitRoom" type="submit"></button>
                      </div>
                    </li>

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <span id="room_icon" class="fa fa-street-view" style="display:none"></span>
                        <a data-ng-if="chat.currentRoom == ''" id="room_name">Lobby</a>
                        <a data-ng-if="chat.currentRoom != ''" id="room_name"><% chat.currentRoom %></a>
                    </li>

                    <li class="">
                        <span id="connection_icon" class="fa fa-circle offline" style="display:none"></span>
                        <a id="connection_status"><% connectionStatus %></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container" data-ng-controller="LogController">

        <div class="col-md-6" id="messages">
          <div data-ng-if="chat.messages[chat.currentRoom]" class="messages" data-ng-repeat="msg in chat.messages[chat.currentRoom]">
              <span style="font-size: 0.8em!important" class="text-muted"><i class="fa fa-clock-o"></i>&nbsp;<% msg.time %></span>&nbsp;
              <span data-ng-if="!msg.type" style="color: #90CA0A!important" class="chat-user"><b><% msg.username %></b></span>
              <span data-ng-if="!msg.type" class="message-inner"><% msg.content %></span>
              <span data-ng-if="msg.type" class="message-inner info"><% msg.content %></span>
          </div>
        </div>

        <div class="col-md-6 video-wrapper">
          <video id="localVideo" style="float:right;max-width:50%;border: solid 3px #90CA0A;" autoplay muted></video>
          <video-player data-ng-repeat="peer in chat.peers[chat.currentRoom]">
              <video autoplay style="float:right;max-width:50%;" id="<% peer.username %>" data-ng-src="<% chat.getVideo(peer.stream) %>"></video>
          </video-player>
        </div>
    </div>

    <div class="col-lg-12" style="position:absolute; bottom:20px">
      <div id="buffer">
          <textarea class="form-control" id="buffer_input"></textarea>
      </div>
    </div>

    <div class="modal fade" id="myModal" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">Welcome to Cheesy P2P</h4>
          </div>
          <div class="modal-body">
            <div>
              <form data-ng-submit="chat.login()">
                <input autofocus data-ng-model="chat.rtc.username" id="login" type="text" class="form-control" placeholder="Set your nickname" />
                <br>
                <span class="input-group-btn">
                <button class="btn btn-primary btn-sm" id="btn-chat">Go</button>
                </span>
              </form>
            </div>
          </div>
          <div class="modal-footer">
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="static/vendor/jquery.min.js"></script>
    <script type="text/javascript" src="static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="static/vendor/toastr.min.js"></script>
    <script type="text/javascript" src="static/js/adapter.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.min.js"></script>
    <script type="text/javascript" src="static/js/controllers/MainCtrl.js"></script>
    <script type="text/javascript" src="static/js/services/RoomService.js"></script>
    <script type="text/javascript" src="static/js/chat.js"></script>
</body>
</html>
